<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ title }} | {{ site_title }}</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="description" content="{{ site.description }}">
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <link rel="canonical" href="{{ site_url }}{{ page.url }}">
    <link type="text/css" rel="stylesheet" media="all" href="/css/townies.css">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "HairSalon",
        "name": "Townies Barbershop",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "2909 Corrine Dr",
          "addressLocality": "Orlando",
          "addressRegion": "FL",
          "addressCountry": "US",
          "postalCode": "32803"
        },
        "image": "https://www.towniesbarbershop.com/img/logo.webp",
        "telePhone": "407-459-3589",
        "url": "https://www.towniesbarbershop.com",
        "openingHoursSpecification": [
          {
            "@type": "OpeningHoursSpecification",
            "closes": "18:00:00",
            "dayOfWeek": "https://schema.org/Monday",
            "opens": "09:00:00"
          },
          {
            "@type": "OpeningHoursSpecification",
            "closes": "18:00:00",
            "dayOfWeek": "https://schema.org/Tuesday",
            "opens": "09:00:00"
          },
          {
            "@type": "OpeningHoursSpecification",
            "closes": "18:00:00",
            "dayOfWeek":  "https://schema.org/Wednesday",
            "opens": "09:00:00"
          },
          {
            "@type": "OpeningHoursSpecification",
            "closes":  "18:00:00",
            "dayOfWeek": "https://schema.org/Thursday",
            "opens": "09:00:00"
          },
          {
            "@type": "OpeningHoursSpecification",
            "closes": "18:00:00",
            "dayOfWeek":  "https://schema.org/Friday",
            "opens": "09:00:00"
          },
          {
            "@type": "OpeningHoursSpecification",
            "closes": "16:00:00" ,
            "dayOfWeek": "https://schema.org/Saturday",
            "opens": "09:00:00"
          }
        ],
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": "28.568048",
          "longitude": "-81.347053"
        },
        "priceRange":"$"
      }
      </script>
  </head>
