---
title: Barbers
barbers:
  - name: "Mick Tyrrell"
    image: "/img/mick.webp"
    phone: "(239) 810-8092"
    insta: "micktyrrellbarber"
    square: "https://mickthebarber.square.site/"
    location: Orlando
  - name: "Evan Blaine"
    image: "/img/evan.webp"
    insta: "wolfysbarbershop"
    square: "https://app.thecut.co/barbers/wolfydeadbeat"
    location: Orlando
  - name: "Katrina Cook"
    image: "/img/katrina.webp"
    insta: "katrina.cuts"
    square: "https://katrina-cook.square.site/"
    location: Orlando
  - name: "Christopher X. Alvarado"
    image: "/img/chris.webp"
    phone: "(407) 459-0113"
    insta: "belikebuddha2"
    square: "https://belikebuddha.square.site/"
    location: Orlando
  - name: "Colin Davey"
    image: "/img/colin.webp"
    phone: "(407) 459-3589"
    insta: "bostoncolin"
    square: "https://square.site/book/5CGVSJ9WRXGYM/bostoncolin-orlando-fl"
    location: Orlando
  - name: "Alexander Rosario"
    image: "/img/alex-r.webp"
    phone: "(407) 617-0522"
    insta: "alxndrthebarber"
    square: "https://barber-103269.square.site/"
    location: Orlando
  - name: "Alex Kuechenmeister"
    image: "/img/alex.webp"
    phone: "(407) 399-3598"
    insta: "alexkthebarber"
    square: "https://square.site/book/BE2BBS4A7C5DP/alexkthebarber-llc-orlando-fl"
    location: Orlando
permalink: /barbers/
layout: default
---

<div class="container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 barbers">
    {% for barber in barbers %}
    <div class="col">
      <div class="card">
        <img class="card-img-top" alt="{{ barber.name }}" src="{{ barber.image }}">
        <div class="card-body">
          <h2 class="card-title">{{ barber.name }}</h2>
          {% if barber.phone %}<p>Phone: <a href="tel:{{ barber.phone | remove: "(" | remove: ")" | remove: " " | remove: "-" }}">{{ barber.phone }}</a></p>{% endif %}
          {% if barber.insta %}<p>Insta: <a href="https://www.instagram.com/{{ barber.insta }}/" rel="noopener" target="_blank">@{{ barber.insta }}</a></p>{% endif %}
          <p>Appointments: <a href="{{ barber.square }}" rel="noopener" target="_blank">Book Here</a></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
